@CHARSET "UTF-8";

ul {
	/*margin: 0 auto;*/
	width: 550px;
	/*text-align: left;*/
}

ul li {
	/*margin: 5px;
	width: 100px;*/
	/*text-align: left;
	float: left;*/
	display: none;
	/*overflow: hidden;*/
}

/* =======================================
    ClearFixElements
======================================= */
ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

ul {
	display: inline-block;
	/*overflow: hidden;*/
}

.itemBox {

}

.item_img {
	margin-left: 250px;
	margin-top: 100px;
}

img{
}

h4{
	text-align: center;
}